@import "../node_modules/normalize.css/normalize.css";

body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 2em auto;
  grid-template-rows: 3em auto 3em;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  width: 100vw;
  height: 100vh;
}

header {
  grid-area: header;
  background: #eee;
  display: flex;
  align-items: center;
  padding: 1em;
}
aside {
  grid-area: aside;
  background: #ddd;
}
main {
  grid-area: main;
  background: #ccc;
}
footer {
  grid-area: footer;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-flow: column;
}

.state-bar {
  height: 3em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

svg {
  background: white;
  width: 100%;
  height: 100%;
}

main.INSERT svg {
  cursor: crosshair;
}

main svg g.selection line {
  cursor: move;
}

button {
  border: 0.1em solid #eee;
  background: #eee;
  width: 2em;
  height: 2em;
  padding: 0.2em;
}

button:hover {
  border-color: #ddd;
  background: #ddd;
}

button:active {
  border-color: #ccc;
  background: #ccc;
}

button img {
  width: 100%;
}

line {
  stroke: black;
  stroke-width: 5;
}

g.selection line {
  stroke: hsla(0, 100%, 50%, 0);
  stroke-width: 50;
  cursor: pointer;
}

g.edition-point circle.visible {
  fill: white;
  stroke: black;
  stroke-width: 2;
}

g.edition-point circle.invisible {
  opacity: 0;
  cursor: pointer;
}
g.edition-point circle.invisible:hover {
  opacity: 1;
  fill: hsla(0, 0%, 50%, 0.05);
}
